:root {
    --web-voyager-theme-color: #38425d;
    --web-voyager-theme-color-light: #e2e9f3;
    --web-voyager-text-color: white;
    --web-voyager-margin: 2.5px;
    --web-voyager-padding: 2.5px;
}

#web-voyager-root {
    display: flex;
    position: fixed;
    padding: var( --web-voyager-padding);
    bottom: 0;
    left: 0;
    height: 300px;
    width: 100vw;
    z-index: 10000000;
    overflow: hidden;
    background-color: var(--web-voyager-theme-color);
    color: var(--web-voyager-text-color);
}

#web-voyager-root .view {
    margin: var(--web-voyager-margin);
    padding: var( --web-voyager-padding); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#web-voyager-root .view > * {
    margin: var(--web-voyager-margin);
    padding: var( --web-voyager-padding); 
}

#web-voyager-root .view .title {
    display: flex;
    width: 100%;
}

#web-voyager-root .view .title span {
    flex: 1;
    font-weight: bold;
}

.web-voyager-row-highlight {
    border: 1px solid var(--web-voyager-theme-color);
}

.web-voyager-column-highlight {
    background-color: var(--web-voyager-theme-color-light);
}

#web-voyager-root .chart-data  {
    display: flex;
    width: 180px;
}

#web-voyager-root .chart-data .data-fields {
    flex: 1;
    width: 100%;
    color: black;
}

#web-voyager-root .chart-data .data-field {
    display: flex;
    width: 160px;
    justify-content: flex-start;
    align-items: center;
    margin: var(--web-voyager-margin);
    padding: var( --web-voyager-padding);
}

#web-voyager-root .chart-data .data-field .data-field-name input {
    font-size: 0.9em !important;
}

#web-voyager-root .chart-view {
    flex: 1;
    display: flex;
}

#web-voyager-root .chart-view .charts {
    flex: 1;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    display: flex;
    border-radius: 5px;
}

#web-voyager-root .chart-view .chart {
    min-width: 50%;
    margin: var(--web-voyager-margin);
    padding: var( --web-voyager-padding);
    overflow-y: scroll;
    background-color: white;
    border-radius: 5px;
}