:root {
    --web-voyager-theme-color: #38425d;
    --web-voyager-theme-color-light: #e2e9f3;
    --web-voyager-text-color: white;
    --web-voyager-margin: 2.5px;
    --web-voyager-padding: 2.5px;
}

#web-voyager-root {
    display: flex;
    position: fixed;
    padding: var( --web-voyager-padding);
    bottom: 0;
    left: 0;
    height: 280px;
    width: 100vw;
    z-index: 10000000;
    overflow: hidden;
    background-color: var(--web-voyager-theme-color);
    color: var(--web-voyager-text-color);
}

#web-voyager-root .view {
    margin: var(--web-voyager-margin);
    padding: var( --web-voyager-padding); 
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#web-voyager-root .view > * {
    margin: var(--web-voyager-margin);
    padding: var( --web-voyager-padding); 
}

#web-voyager-root textarea {
    flex: 1;
    width: 100%;
    resize: none;
    font-size: 0.8em;
    color: black;
}

#web-voyager-root .view .chart {
    flex: 1;
    width: 100%;
    background-color: white;
    overflow: scroll;
}

#web-voyager-root .view .title {
    display: flex;
    width: 100%;
}

#web-voyager-root .view .title span {
    flex: 1;
}


.web-voyager-row-highlight {
    border: 1px solid var(--web-voyager-theme-color);
}

.web-voyager-column-highlight {
    background-color: var(--web-voyager-theme-color-light);
}